body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(31, 29, 29);
    color: aliceblue;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    padding: 30px 30px 20px;
    background: #000000;
    border-radius: 8px;
}
h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 2500;   
}
input {
    width: 80%;
    padding: 20px 10px 10px;
    background: rgb(46, 41, 41);  
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    transition: 0.5s;
    
}
input:hover{
    background: whitesmoke;
    color: black;
}
span{
    font-size: 20px;
}
.links{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
}
a{
    color: rgb(174, 160, 160);
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: white;
    font-size: 16px;
}
button{
    border: none;
    border-radius: 4px;
    width: 100px;
    font-size: 20px;
    transition: 0.5s;
    margin: 25px 10px ;
}
button:hover{
    background: #0ca6f3;
    font-size: 26px;
    
}

